ul li{
    list-style: none;
    padding: 0;
    margin: 0;
}
.top{
    width:100%;
    height: 35px;
    background: black;
    /* float: right; */
    
}
.header1{float: right;margin-right: 30px;}
.header1 a{color: white;text-align: center;}
#bs-1 li a{
    color:black;
    font-size: 20px;
    width: 150px;
}
#bs-1 ul{
    /* width: 200px; */
    margin-left: 100px;
    position: absolute;
    z-index: 99999;
    background: #dddddd;
    left: 350px;
}
#nav{
    width: 100%;
    background: #dddddd;
    border-color: #dddddd;
}
#navbar-toggle span{
    background-color: black;
}

/*  */
#prev{
    background: url(img/left.png) no-repeat center;
}
#next{background: url(img/right.png) no-repeat center;}
#banner-word{
    position: absolute;
    z-index: 9999;
    left: 200px;
    top: 50px;
    color: white;
    font-size: 40px;
    font-family: '宋体';
}
#banner-word ul{
    font-size: 18px;
    margin:0 auto;
    padding: 25px 0;
}
#banner-wordPhone{
    position: absolute;
    z-index: 9999;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif
}
#banner-wordPhone ul{
    float: left;
}
#search{
    position: absolute;
    z-index: 999;
    left: 500px;
    top: 300px;
    width: 580px;
    height: 50px;
    float: left;
}
.mudidi{
    width:100px;
    height: 50px;
    background: #d3d3d8;
}
#search input{
    width: 310px;
    height: 50px;
}
#search button{
    height: 50px;
}
#searchR{
    width:130px;
    background: #cb5405 url(img/search.png) no-repeat center;
}
/*  */
#car{
    float: left;
    width: 100%;
}
#car1{
    margin-left: 150px;
    float: left;
}
.car2{
    background: #15316d;
    width: 265px;
    height: 363px;
    float: left;
    color: white;
}
.car2 button{
    width: 185px;
    height: 53px;
    background: #15316d;
    font-size: 18px;
    border-radius: 8px;
    margin-top: 15px;
}
.car-word{
    position: absolute;
    z-index: 999;
    left: 650px;
    color:white;
    padding-top: 30px;
}
#carPhone{
    /* float: left; */
    width: 100%;
    height: 180px;
}
#carPhone ul li{float: left;}
#carPhone button{
    width: 100px;
    height: 40px;
    font-size: 18px;
    background: white;
    border-radius: 8px;
    border-style: none;
    margin-top: 50px;
    margin-left: 30px;
}
.carPhone-word{
    width: 200px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
/*  */
#hot-route{
    width: 100%;
    margin-top: 20px;
}
#hotRHPone{
    float: left;
}
.hot3{
    background: rgb(0,0,0,0.5);
    color:white;
    height: 55px;
}
#hott3{
    background: url(img/hot3.jpg) no-repeat center;
    width: 100%;
    height: 300px;
    padding:  240px 0 0 0;
}
#hott4{
    background: url(img/hot4.jpg) no-repeat center;
    width: 100%;
    height: 300px;
    padding: 245px 0 0 0;
}
#hott5{
    background: url(img/hot5.jpg) no-repeat center;
    width: 100%;
    height: 300px;
    padding: 245px 0 0 0;
    margin-top: 15px;
}
#hotMore{
    /* margin-left: 200px; */
    width: 180px;
    height:50px;
    border-radius: 10px;
    background: white;
    position: relative;
    left: 50%;
    top: 30px;
    -webkit-transform: translate(-50%, -50%);   
    -moz-transform: translate(-50%, -50%);   
    -ms-transform: translate(-50%, -50%);   
    -o-transform: translate(-50%, -50%);   
    transform: translate(-50%, -50%);
}
/*  */
#visa-recom{
    margin-top: 30px;
}
#visa1{
    background: url(img/visa1.jpg) no-repeat center;
    height: 555px;
    padding: 500px 0 0 0;
}
.visa1{
    background: rgb(0,0,0,0.5);
    color:white;
    height: 55px;
    width: 400px;
    margin: 0 auto;
}
#visa2{
    width: 400px;
    padding: 0;
    margin: 0 auto;
}
.visa2{
    background: rgb(0,0,0,0.5);
    color:white;
    width: 390px;
    /* margin: 0 auto; */
    height: 55px;
    margin-top: 220px;
}
#visa3{
    padding: 0;
    width: 400px;
    margin: 0 auto;
}
#visa4{
    width: 100%;
    padding: 0;
}
#visa5{
    background: url(img/visa5.jpg) no-repeat center;
    width: 100%;
    padding: 0;
}
/*  */
#Bbanner{
    margin: 0 auto;
    width: 100%;
    height: 340px;
    background: url(img/Bbanner.jpg) no-repeat center;
    margin-top: 20px;
}
/*  */
#callAndWish{
    margin-top: 35px;
}
#searve-word{
    height: 320px;
    background: #1c5080;
    color:white;
    font-family: '宋体'
}
#searve-word ul{
    margin-top: 80px;
    width: 80%;
    margin-left: 50px;
    padding-left: 0;
}
#pinzhi{
    text-align: center;
    margin-top: 30px;
}
#pinzhi li{
    padding-top: 50px;
    width: 210px;
}
#searve-first{
    background: #1c5080;
    color: white;
}
#pinzhiPhone{
    height: 100px;
    margin-top: 20px;
}
/*  */
#last{
	width: 100%;
	height: 370px;
	margin: 0 auto;
	background-color: #000000;
	text-align: center;
	border-bottom: 3px solid #404040;
}
#last ul{
	margin-top: 35px;
	margin-left: 120px;
	color: #ffffff;
	background: #000000;
	border : 1px solid #000000;
	float: left;
}
#last ul.one{
	margin-left: 20px;
}
#last li{
	margin-bottom: 15px;
	float: left;
}
#last li.one{
	clear: both;
	font-size: 14px;
}
#last li.two{
	font-size: 18px;
}
#last li.three{
	clear: both;
	font-size: 14px;
	padding-left: 30px;
}
#last li.four{
	clear: both;
	font-size: 14px;
	padding-left: 3px;
}
#last p{
	font-size:14px;
	font-family: '微软雅黑';
	line-height: 25px;
	text-align:left;
	color: #b5b5b5;
}
#last p.chujing{
	padding-left: 98px;
}
#last p span{
	font-size:18px;
	font-family: '微软雅黑';
	margin-right: 25px;
	color: #ffffff;
}
.last1{
	width: 100%;
	height: 160px;
	margin: 0 auto;
	background-color: #000000;
	text-align: center;
}
.last1 p{
	color: #ffffff;
	font-size:14px;
	font-family: '微软雅黑';
	line-height: 30px;
}
.last1 p.one{
	padding-top:45px ;
}