ul li{
    list-style: none;
    padding: 0;
    margin: 0;
}
.top{
    width:100%;
    height: 35px;
    background: black;
    /* float: right; */
    
}
.header1{float: right;margin-right: 30px;}
.header1 a{color: white;text-align: center;}
#bs-1 li a{
    color:black;
    font-size: 20px;
    width: 150px;
}
#bs-1 ul{
    /* width: 200px; */
    margin-left: 100px;
    position: absolute;
    z-index: 99999;
    background: #dddddd;
    left: 350px;
}
#nav{
    width: 100%;
    background: #dddddd;
    border-color: #dddddd;
}
#navbar-toggle span{
    background-color: black;
}

/*  */
#prev{
    background: url(img/left.png) no-repeat center;
}
#next{background: url(img/right.png) no-repeat center;}
#banner-word{
    position: absolute;
    z-index: 9999;
    left: 200px;
    top: 50px;
    color: white;
    font-size: 40px;
    font-family: '宋体';
}
#banner-word ul{
    font-size: 18px;
    margin:0 auto;
    padding: 25px 0;
}
#banner-wordPhone{
    position: absolute;
    z-index: 9999;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif
}
#banner-wordPhone ul{
    float: left;
}
#search{
    position: absolute;
    z-index: 999;
    left: 500px;
    top: 300px;
    width: 580px;
    height: 50px;
    float: left;
}
.mudidi{
    width:100px;
    height: 50px;
    background: #d3d3d8;
}
#search input{
    width: 310px;
    height: 50px;
}
#search button{
    height: 50px;
}
#searchR{
    width:130px;
    background: #cb5405 url(img/search.png) no-repeat center;
}
/*  */
#car{
    float: left;
    width: 100%;
}
#car1{
    margin-left: 150px;
    float: left;
}
.car2{
    background: #15316d;
    width: 265px;
    height: 363px;
    float: left;
    color: white;
}
.car2 button{
    width: 185px;
    height: 53px;
    background: #15316d;
    font-size: 18px;
    border-radius: 8px;
    margin-top: 15px;
}
.car-word{
    position: absolute;
    z-index: 999;
    left: 650px;
    color:white;
    padding-top: 30px;
}
#carPhone{
    /* float: left; */
    width: 100%;
    height: 180px;
}
#carPhone ul li{float: left;}
#carPhone button{
    width: 100px;
    height: 40px;
    font-size: 18px;
    background: white;
    border-radius: 8px;
    border-style: none;
    margin-top: 50px;
    margin-left: 30px;
}
.carPhone-word{
    width: 200px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
/*  */
#hot-route{
    width: 100%;
    margin-top: 20px;
}
#hotRHPone{
    float: left;
}
.hot3{
    background: rgb(0,0,0,0.5);
    color:white;
    height: 55px;
}
#hott3{
    background: url(img/hot3.jpg) no-repeat center;
    width: 100%;
    height: 300px;
    padding:  240px 0 0 0;
}
#hott4{
    background: url(img/hot4.jpg) no-repeat center;
    width: 100%;
    height: 300px;
    padding: 245px 0 0 0;
}
#hott5{
    background: url(img/hot5.jpg) no-repeat center;
    width: 100%;
    height: 300px;
    padding: 245px 0 0 0;
    margin-top: 15px;
}
/*  */
#visa-recom{
    margin-top: 30px;
}
#visa1{
    background: url(img/visa1.jpg) no-repeat center;
    height: 555px;
    padding: 500px 0 0 0;
}
.visa1{
    background: rgb(0,0,0,0.5);
    color:white;
    height: 55px;
}
#visa2{
    background: url(img/visa2.jpg) no-repeat center;
    width: 100%;
    height: 275px;
    padding: 0;
}
.visa2{
    background: rgb(0,0,0,0.5);
    color:white;
    /* width: 100%; */
    height: 55px;
    margin: 220px 0 0 0;
}
#visa3{
    background: url(img/visa3.jpg) no-repeat center;
    width: 100%;
    height: 275px;
    padding: 0;
}
#visa4{
    background: url(img/visa4.jpg) no-repeat center;
    width: 100%;
    height: 275px;
    padding: 0;
}
#visa5{
    background: url(img/visa5.jpg) no-repeat center;
    width: 100%;
    height: 275px;
    padding: 0;
}