@media screen and (max-width:750px){
    #top{display: none;}
    #banner-word{display: none;}
    #banner-wordPhone{display: block;}
    #searchR{width: 100px;}
    #search input{width: 200px;}
    #car{display: none;}
    #carPhone{display: block;}
    #hotRHCom{display: none;}
    #hotRHPhone{display: block;}
    /* [id ^= hott]{display: none;} */
    #hotRowTo{display: none;}
    #visaRHCom{display: none;}
    #visaRHPhone{display: block;}
    #visaPhone{display: none;}
    #Bbanner{display: none;}
    #callAWHCom{display: none;}
    #searve-word{
        background: none;
        color:black;
    }
    #pinzhi{display: none;}
    #searve-first{
        background: white;
        color:black;
    }
    #last{
        display: none;
    }
}
@media screen and (min-width:1427px){
    #banner-wordPhone{display: none;}
    #carPhone{display: none;}
    #hotRHCom{display: block;}
    #hotRHPhone{display: none;}
    #hotMore{display: none;}
    #visaRHPhone{display: none;}
    #callAWHPhone{display: none;}
    #pinzhiPhone{display: none;}
}